<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h2>Hello {{name}},</h2>
    <p>We received a request to reset your password for your account associated with this email address. If you did not make this request, you can safely ignore this email.</p>
    <p>To reset your password, please click the link below:</p>
    <a href="{{url}}">{{url}}</a>
    <p>If you have any issues, feel free to reach out to our support team.</p>
    <p>Thank you, [Your Company Name]</p>
  </body>
</html>